/* mostly modified code  from style.css*/

.fixbrand {
    float: left;
    position: relative;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 70px;

    text-align: center;
    text-decoration: none;
}

.primary-grad{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    margin: 0;
}

/* #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
} */

ul li a {
    display: inline-block;
    color: black;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

ul li a:first-child {
    border-left: 0 none;
}


/* main */

#main-container {
    min-height: calc(100vh - 70px);
    max-height: 420px;
    clear: both;
}


/* mostly unmodified code below 

Elroy Jetson by Joan Stark
    o        _
    =\.=    | \
    ='\____/__/....,_
       | .'        _-;
       |/;-._     -_,'
       /  \  ``"""` (
       |   |  ^   ^ \
       /`'`   o  _ o \
       \_,      ' '  |
         ;.   /.__.' /
       .`._`'._____.'-.
      /`.| `-,.____.-;\
     /   |  |      | \ \
jgs  |   |  '------' | |
     \   \           | /


*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}


/* general */


/* .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
} */

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: linear-gradient(0deg, #00C9FF 0%, #92FE9D 100%);


    background-color: #08AEEA;
    background-image: linear-gradient(180deg, #08AEEA 0%, #2AF598 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  */


h2,
h3 {
    font-size: 22px;
}


/* footer */

.newfooter {
    padding: 30px 0;
    margin: 150px 0 0 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: white;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

h3,
h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
}


/* portfolio page */

.work {
    position: relative;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 90%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}


/* new stuff -------------------------------- */


.paper {
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }

.btn-grad {background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D, #00C9FF 100%)}
.btn-grad:hover { background-position: right center; }

.header-nav{

}


body {
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
  .item span {
    display: block;
    font-size: 1rem;
  }
  .item--primary {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }
  .item--secondary {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 20px;
  }


  .demo-card-wide.mdl-card {
    width: 512px;
    border-right-color: black;
    border-width: 1px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  